body {
	text-align: center;
}

#msdBuilder canvas {
	margin: auto;
}

form {
	display: grid;
	width: 1200px;
	margin: 1em auto;
	grid-template-columns: 1fr 1fr 1fr;
}

form fieldset {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 1em;
}

form fieldset:first-of-type {
	display: block;
	text-align: center;
	grid-column: 1 / 4;
}
